In [2]:
!pip install pandas
!pip install scikit-learn
!pip install openpyxl

Requirement already satisfied: pandas in /home/ubuntu/.local/lib/python3.8/site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
Requirement already satisfied: scikit-learn in /home/ubuntu/.local/lib/python3.8/site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /home/ubuntu/.local/lib/python3.8/site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in /home/ubuntu/.local/lib/python3.8/site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /home/ubuntu/.local/lib/python3.8/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/ubuntu/.local/lib/python3.8/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: openpyxl in /home/ubuntu/.local/lib/python3.8/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /home/ubuntu/.local/lib/python3.8/site-packages (from openpyxl) (1.1.0)

In [3]:
import pandas as pd

df = pd.read_csv('POP.csv')
df

    realtime_start       value        date realtime_end
0       2019-12-06  156309.000  1952-01-01   2019-12-06
1       2019-12-06  156527.000  1952-02-01   2019-12-06
2       2019-12-06  156731.000  1952-03-01   2019-12-06
3       2019-12-06  156943.000  1952-04-01   2019-12-06
4       2019-12-06  157140.000  1952-05-01   2019-12-06
..             ...         ...         ...          ...
811     2019-12-06  329591.333  2019-08-01   2019-12-06
812     2019-12-06  329785.872  2019-09-01   2019-12-06
813     2019-12-06  329982.035  2019-10-01   2019-12-06
814     2019-12-06  330154.949  2019-11-01   2019-12-06
815     2019-12-06  330309.946  2019-12-01   2019-12-06

[816 rows x 4 columns]

In [4]:
data = df['value']
data

0      156309.000
1      156527.000
2      156731.000
3      156943.000
4      157140.000
          ...
811    329591.333
812    329785.872
813    329982.035
814    330154.949
815    330309.946
Name: value, Length: 816, dtype: float64

In [5]:
n = len(data)
sizeTrain = (round(n*0.8))
data_train = pd.DataFrame(data[:sizeTrain])
data_test = pd.DataFrame(data[sizeTrain:])
data_train

        value
0    156309.0
1    156527.0
2    156731.0
3    156943.0
4    157140.0
..        ...
648  297647.0
649  297854.0
650  298060.0
651  298281.0
652  298496.0

[653 rows x 1 columns]

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
train_scaled = scaler.fit_transform(data_train)


# sc = MinMaxScaler(feature_range = (0, 1))
# training_set_scaled = sc.fit_transform(data_train)

# Mengaplikasikan MinMaxScaler pada data pengujian
test_scaled = scaler.transform(data_test)

# reshaped_data = data.reshape(-1, 1)
train = pd.DataFrame(train_scaled, columns = ['data'])
train = train['data']

test = pd.DataFrame(test_scaled, columns = ['data'])
test = test['data']
test

0      1.001709
1      1.003516
2      1.005394
3      1.007441
4      1.009417
         ...
158    1.218693
159    1.220061
160    1.221441
161    1.222657
162    1.223747
Name: data, Length: 163, dtype: float64

In [7]:
from numpy import array

def split_sequence(sequence, n_steps):
  X, y = list(), list()
  for i in range(len(sequence)):
    # find the end of this pattern
    end_ix = i + n_steps
    # check if we are beyond the sequence
    if end_ix > len(sequence)-1:
      break
    # gather input and output parts of the pattern
    seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
    X.append(seq_x)
    y.append(seq_y)
  
  return array(X), array(y)

In [8]:
import numpy
from numpy import  array

In [9]:
from numpy import array
df_X, df_Y = split_sequence(train, 2)
# for i in range(len(df_X)):
#   print(df_X[i], df_Y[i])
x = pd.DataFrame(df_X, columns = ['xt-2','xt-1'])
y = pd.DataFrame(df_Y, columns = ['xt'])
dataset_train = pd.concat([x, y], axis=1)
dataset_train
dataset_train.to_excel('data-train.xlsx', index=False)